
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Peeps</title>
</head>
<body>
<ul>
    {{range $_,  $shit := .}}
    <li>{{$shit}}</li>
    {{end}}
</ul>
</body>
</html>