{{template "header" .User}}

{{if .User}}
<h1 class="hi"> <p class="comment">Hi</p> {{index . 0}}<p class="comment">!</p></h1>
{{end}}

{{range .Pics}}
    <img src="/public/pics/{{.}}">
{{end}}



{{template "footer"}}